*::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right, #ECB390, #DF7861);
    /* display: flex;
    justify-content: center; */
    font-family: "Times New Roman",serif;
    font-size: 1.1rem;
    color: #3e2234;
    letter-spacing: 0.06rem;
}

.outer--container{
    display: flex;
    justify-content: center;
}
.container {
    margin: 35px 0;
    background-color:  #94B49F;
    justify-content: center;
    /* border: 1px solid #FCF8E8; */
    min-height: 80vh;
    width: 600px;
    padding: 25px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px 0px #FCF8E8, inset 4px 4px 15px 0px #FCF8E8, 2px 5px 7px 5px rgba(252,248,232,0); 
    box-shadow: 5px 5px 5px 0px #FCF8E8, inset 4px 4px 15px 0px #FCF8E8, 2px 5px 7px 5px rgba(252,248,232,0);
}

.recipe--header {
    display: flex;
    font-style: italic;
    text-align: center;
}

.recipe--header > h1{
    justify-content: center;
    margin: 10px auto 25px auto;
}

.image-container {
    display: flex;
}

.image-container > img {
    height: 250px;
    width: auto;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 0px #ECB390;
    -webkit-transition: 0.3s;
}
.image-container > img:hover {
    height: 300px;
    width: auto;
    -webkit-transition: 0.3s;
}

.recipe--ingredients{
    margin-top: 40px;
    margin-left: 15px;
    letter-spacing: 0.07rem;
    font-size: 1.1rem;
}

.recipe--ingredients > h3{
    margin-left: 20px;
    font-size: larger;
    text-decoration: underline;     
    text-decoration-color: #3e2234;  
    text-decoration-style:solid;  
}

.recipe--source {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
.recipe--source > a{
    color:#3e2234;
    font-weight: 800;
    font-size: 1.1rem;
    -webkit-transition: 0.2s;
}

.recipe--source > a:hover{
    color:#74566a;
    font-weight: 900;
    -webkit-transition: 0.15s;
}

.recipe--source > p{
    font-weight: 200;
    font-size: 1.05rem;
}

.info-label--container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.recipe--information{
    display: flex;
    flex-direction: column;
    line-height: 22px;
    margin-left: 40px;
    margin-bottom: 30px;
    /* letter-spacing: 0.06rem; */
}
.recipe--information > h3{
    font-size: larger;
    text-decoration: underline;     
    text-decoration-color: #3e2234;  
    text-decoration-style:solid;  
}

.recipe--information > div{
    margin-left: 10px;
}


.labels--container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 50px;
}

.label > p{
    font-size: 18px;
    font-weight: 700;
}

.generate-button{
    margin-top: 20px;
    display: flex;
}

.generate-button > button{
    margin: 0 auto;
    border-radius: 25px;
    border: 0;
    padding: 12px 25px;
    background-color:#f3dbcb;
    box-shadow: 2px 2px 5px 0px #ECB390;
    font-family: "Times New Roman",serif;
    font-size: 1.1rem;
    color: #3e2234;
    letter-spacing: 0.06rem;
}

.generate-button > button:hover{
    cursor: pointer;
}

.generate-button > button:focus{
    outline: none;
}
.generate-button > button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

datalist{
    background-color: #b494b2;
}